.history-page .list-group-item.active {
    background-color:red;
    border:red;
}
.history-left-column{
    background-color:#fff;
    height:566px;
}
.card .card-horizontal .card-icons .remove{
    position:absolute;
    top:10px;
    left:13px;
    color:black;
    cursor:pointer;
}
.card .card-horizontal .card-body p{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom: 0;
}
.card-body{
    min-width:0;
    padding-bottom:0;
    padding-top:10px;
}
h4{
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
@media(max-width:991px){
    .card .card-horizontal .card-icons .card-img{
        width:100% !important;
    }
    .history-left-column{
        margin-bottom: 40px !important;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .history-left-column .list-group .list-group-item{
        width:100%;
    }
    .card .card-horizontal .card-icons .card-img{
        width:300px !important;
    }
    h4{
        overflow:hidden;
        display:-webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient:vertical;
    }

}
@media(max-width:1399px){
    .card-body .channel-icon{
        display:block !important;
        margin-left: 0 !important;
    }
}
